<nav class="nav has-shadow">
    <div class="container">
        <div class="nav-left">
            <a ui-sref="home" class="nav-item">
                <b>
                    UI-Router Example
                </b>
            </a>
        </div>
        <div class="nav-right nav-menu">
            <a ui-sref="home" ui-sref-active="is-active" class="nav-item is-tab">
                Home
            </a>
            <a ui-sref="nested.content" ui-sref-active="is-active" class="nav-item is-tab">
                Nested views
            </a>
            <a ui-sref="contact" ui-sref-active="is-active" class="nav-item is-tab">
                Contact
            </a>
        </div>
    </div>
</nav>
